name: Run Validation
on:
  pull_request:
    branches: [ "master" ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:     
  compare:
    runs-on: ubuntu-latest
    steps:
      - name: Comparison Action
        uses: FloriNNic/oxygen-scripting-comparison-action@v1.0.2
        env:
          SCRIPTING_LICENSE_KEY: ${{secrets.SCRIPTING_LICENSE_KEY}}
        with:
          firstBranch: master
          secondBranch: ${{ github.event.pull_request.head.sha }}

